<div class="jumbotron">
    <div id="previewScreen">

    </div>
    <div class="navbar-left navbar-btn btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-click="startPreview()" id="previewOnLabel">
            <input type="radio" name="options" id="previewOn" value="on"> On
        </label>
        <label class="btn btn-primary" ng-click="stopPreview()" id="previewOffLabel">
            <input type="radio" name="options" id="previowOff" value="off"> Off
        </label>
    </div>
</div>