
<span ng-if="new" class="label label-danger">New</span><h1>{{plugin.title}}</h1>

<ul class="nav nav-pills">
    <li><button type="button" class="btn btn-primary" ng-click="update()">Save</button></li>
    <li ng-if="allowDelete"><button type="button" class="btn btn-primary" ng-click="delete()">Delete</button></li>
    
</ul>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group" ng-repeat="property in plugin.properties">
            <label for="input{{property.name}}" class="col-lg-2 control-label">{{property.displayName}}</label>
            <div ng-switch="property.type">
                <div class="col-lg-10" ng-switch-when="text">
                    <input type="text" class="form-control" id="input{{property.name}}"
                           ng-model="property.value">
                </div>
                <div class="col-lg-10" ng-switch-when="number">
                    <input type="number" class="form-control" id="input{{property.name}}" 
                           ng-model="property.value"
                           min="{{property.minValue}}"
                           max="{{property.maxValue}}">
                </div>
                <div class="col-lg-10" ng-switch-when="lookup">
                    <select class="form-control" id="input{{property.name}}" ng-model="property.value"
                            ng-options="option.id as option.name for option in property.options"></select>
                </div>
                <div class="col-lg-10" ng-switch-when="boolean">
                    <input type="checkbox" class="form-control" id="input{{property.name}}" 
                           ng-model="property.value">
                </div>
                <div class="col-lg-10 ag-light-container" ng-switch-when="lights" id="input{{property.name}}">
                    <div ng-repeat="lightRow in property.value.lightRows" class="ag-light-row">
                        <div ng-repeat="lightColumn in lightRow.lightColumns" id="{{lightColumn.id}}" class="dropdown ag-light-column">
                            <button type="button" class="btn {{lightColumn.colourClass}} ag-light dropdown-toggle">
                                {{lightColumn.id}}
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="first(lightColumn.columnIndex, lightRow.rowIndex, true)">First Light Clockwise</a></li>
                                <li><a ng-click="first(lightColumn.columnIndex, lightRow.rowIndex, false)">First Light Anti-Clockwise</a></li>
                                <li><a ng-click="disable(lightColumn.columnIndex, lightRow.rowIndex)" ng-if="lightColumn.id != null">Disable</a></li>
                                <li><a ng-click="enable(lightColumn.columnIndex, lightRow.rowIndex)" ng-if="lightColumn.id == null">Enable</a></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div ng-switch-default>
                    <label>Error: Could not render {{property.displayName}}, data type:{{property.type}} is not currently supported</label>
                </div>
                <span ng-if="property.discription != '' && property.description != null" class="help-block">{{property.description}}</span>
            </div>
        </div>
    </fieldset>
</form>
