<div class="container">
    <div>
        <h1>Plugins</h1>

        <div class="panel panel-success">
            <div class="panel-heading">Light Setup Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availableLightSetupPlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Capture Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availableCapturePlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">Colour Extraction Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availableColourExtractionPlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Post Process Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availablePostProcessPlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">Pre Output Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availablePreOutputPlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Output Plugins</div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="plugin in availablePlugins.availableOutputPlugins">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>