
<div>
    <h1>Profile Settings</h1>
    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="profile.name" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="inputDescription" ng-model="profile.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCaptureFrequency" class="col-lg-2 control-label">Capture Frequency</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCaptureFrequency" ng-model="profile.captureFrequency" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputOutputFrequency" class="col-lg-2 control-label">Output Frequency</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputOutputFrequency" ng-model="profile.outputFrequency" />
                </div>
            </div>
        </fieldset>
    </form>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Light Setup Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(1 ,'Light Setup Plugin')">Replace</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.lightSetupPlugins">
                <a href="#plugin/{{profile.id}}/1/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Capture Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(2 ,'Capture Plugin')">Replace</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.capturePlugins">
                <a href="#plugin/{{profile.id}}/2/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Colour Extraction Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(3 ,'Colur Extraction Plugin')">Replace</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.colourExtractionPlugins">
                <a href="#plugin/{{profile.id}}/3/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Post Process Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(4 ,'Post Process Plugin')">Add</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.postProcessPlugins">
                <a href="#plugin/{{profile.id}}/4/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Pre Output Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(5 ,'Pre Output Plugin')">Add</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.preOutputPlugins">
                <a href="#plugin/{{profile.id}}/5/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Output Plugins
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add(6 ,'Output Plugin')">Add</button>
            </h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="plugin in profile.outputPlugins">
                <a href="#plugin/{{profile.id}}/6/{{plugin.id}}">
                    <div class="list-group-item-heading">
                        {{plugin.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{plugin.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="pluginTypeSelectionModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="plugin in modal.plugins" ng-click="confirmAdd(modal.pluginType, plugin.type)">
                        <div class="list-group-item-heading">
                            {{plugin.name}}
                        </div>
                        <div class="list-group-item-text">
                            {{plugin.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>