<div>
    <h1>Profiles</h1>
    <div class="panel panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="panel-title">Configured Profiles</div>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default">Import Profile</button>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    Default Profile
                </div>
                <div class="list-group-item-text">
                    Use for movies
                </div>
            </div>
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    Gaming Profile
                </div>
                <div class="list-group-item-text">
                    Use for games
                </div>
            </div>
        </div>
    </div>
</div>
