<h2>Profiles</h2>
<div id="profiles">
    <div ng-repeat="profile in afterglowSetup.Setup.Profiles" data-role="collapsible-set" data-theme="b" data-content-theme="d" data-refresh-list>
        <div data-role="collapsible">
            <h3>
                {{profile.Name}}
            </h3>
            <div data-role="collapsible-set" data-theme="b" data-content-theme="d">
                
                <a ng-click="selectProfile(profile, 'generalSettings')" href="#profileGeneralSettings" data-rel="dialog" data-transition="pop" data-role="button">General Settings</a>

                <div data-role="collapsible" >
                    <h3>
                        Light Setup
                    </h3>
                    <ul data-role="listview">
                        <li>
                            <div data-role="controlgroup" data-type="horizontal">
                                <a ng-click="selectProfile(profile, 'lightSetup')" href="#changeLightSetupPluginOnProfile" data-rel="dialog" data-transition="pop" data-role="button">Change</a>
                                <!--<a href="#" data-role="button">Import</a>-->
                            </div>
                        </li>
                        <li class="ui-collapsible-content" ng-repeat="plugin in profile.LightSetupPlugins" data-refresh-list>
                            <a href="#index">
                            <h2>{{plugin.Name + " - " + plugin.DisplayName}}</h2>
                            <p>{{plugin.Description}}</p></a>
                            <!--<a href="#" data-role="button">Export</a>-->
                        </li>
                    </ul>
                </div>
                <div data-role="collapsible" data-theme="b" data-content-theme="d">
                    <h3>
                        Capture Plugins
                    </h3>
                    <ul data-role="listview">
                        <li>
                            <div data-role="controlgroup" data-type="horizontal">
                                <a ng-click="selectProfile(profile, 'capture')" href="#changeCapturePluginOnProfile" data-rel="dialog" data-transition="pop" data-role="button">Change</a>
                                <!--<a href="#" data-role="button">Import</a>-->
                            </div>
                        </li>
                        <li class="ui-collapsible-content" ng-repeat="plugin in profile.CapturePlugins" data-refresh-list>
                            <a href="#index">
                            <h2>{{plugin.Name + " - " + plugin.DisplayName}}</h2>
                            <p>{{plugin.Description}}</p></a>
                            <!--<a href="#" data-role="button">Export</a>-->
                        </li>
                    </ul>
                </div>
                <div data-role="collapsible" data-theme="b" data-content-theme="d">
                    <h3>
                        Post Process Plugins
                    </h3>
                    <ul data-role="listview">
                        <li>
                            <div data-role="controlgroup" data-type="horizontal">
                                <a ng-click="selectProfile(profile, 'postProcess')" href="#addPostProcessPluginToProfile" data-rel="dialog" data-transition="pop" data-role="button">Add</a>
                                <!--<a href="#" data-role="button">Import</a>-->
                            </div>
                        </li>
                        <li class="ui-collapsible-content" ng-repeat="plugin in profile.PostProcessPlugins" data-refresh-list>
                            <a href="#index">
                            <h2>{{plugin.Name + " - " + plugin.DisplayName}}</h2>
                            <p>{{plugin.Description}}</p></a>
                            <a ng-click="removePluginFromProfile(profile, 'postProcess', plugin)" href="#index" data-icon="delete" data-rel="popup" data-position-to="window">Delete</a>
                            <!--<a href="#" data-role="button">Export</a>-->
                        </li>
                    </ul>
                </div>
                <div data-role="collapsible" data-theme="b" data-content-theme="d">
                    <h3>
                        Output Plugins
                    </h3>
                    <ul data-role="listview">
                        <li>
                            <div data-role="controlgroup" data-type="horizontal">
                                <a ng-click="selectProfile(profile, 'output')" href="#addOutputPluginToProfile" data-rel="dialog" data-transition="pop" data-role="button">Add</a>
                                <!--<a href="#" data-role="button">Import</a>-->
                            </div>
                        </li>
                        <li class="ui-collapsible-content" ng-repeat="plugin in profile.OutputPlugins" data-refresh-list>
                            <a href="#index">
                            <h2>{{plugin.Name + " - " + plugin.DisplayName}}</h2>
                            <p>{{plugin.Description}}</p></a>
                            <a ng-click="removePluginFromProfile(profile, 'output', plugin)" href="#index" data-icon="delete" data-rel="popup" data-position-to="window">Delete</a>
                            <!--<a href="#" data-role="button">Export</a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
