<div>
    <h1>Profiles</h1>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="panel-title">Profiles</div>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" ng-click="addProfile()">Add New Profile</button>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="profile in profiles">
                <a href="#profile/{{profile.id}}">
                    <input type="hidden" value="{{profile.id}}" class="af-profile-id" />
                    <div class="list-group-item-heading">
                        {{profile.name}}
                    </div>
                    <div class="list-group-item-text">
                        {{profile.description}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
