<!-- Start of Change Light Setup Plugin -->
<div modal="shouldBeOpen['lightSetup']" close="close()" options="modalOptions" id="changeLightSetupPluginOnProfile">
	<div class="modal-header">
		<h1>Light Setup Plugins</h1>
	</div>

	<div class="modal-body">
        <ul data-role="listview">
            <!--<li><button onclick="alert('bo');" data-theme="e" data-icon="plus" data-mini="true" data-inline="true" >Add</button></li>-->
            <li ng-repeat="plugin in afterglowSetup.Setup.ConfiguredLightSetupPlugins" data-refresh-list>
            <a ng-click="updateProfile(plugin)" href="#mainContent" data-rel="back">{{plugin.Name + " - " + plugin.DisplayName}}</a></li>
        </ul>
	</div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
</div>

    
<!-- Start of Add Capture Plugin -->
<div modal="shouldBeOpen['capture']" close="close()" options="modalOptions" id="changeCapturePluginOnProfile">

	<div class="modal-header">
		<h1>Capture Plugins</h1>
	</div>

	<div class="modal-body">
        <ul data-role="listview">
            <!--<li><button onclick="alert('bo');" data-theme="e" data-icon="plus" data-mini="true" data-inline="true" >Add</button></li>-->
            <li ng-repeat="plugin in afterglowSetup.Setup.ConfiguredCapturePlugins" data-refresh-list>
            <a ng-click="updateProfile(plugin)" href="#mainContent" data-rel="back">{{plugin.Name + " - " + plugin.DisplayName}}</a></li>
        </ul>
	</div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
</div>
    
<!-- Start of Add Post Process Plugin -->
<div modal="shouldBeOpen['postProcess']" close="close()" options="modalOptions" id="addPostProcessPluginToProfile">

	<div class="modal-header">
		<h1>Post Process Plugins</h1>
	</div>

	<div class="modal-body">
        <ul data-role="listview">
            <!--<li><button onclick="alert('bo');" data-theme="e" data-icon="plus" data-mini="true" data-inline="true" >Add</button></li>-->
            <li ng-repeat="plugin in afterglowSetup.Setup.ConfiguredPostProcessPlugins" data-refresh-list>
            <a ng-click="updateProfile(plugin)" href="#mainContent" data-rel="back">{{plugin.Name + " - " + plugin.DisplayName}}</a></li>
        </ul>
	</div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
</div>
    
<!-- Start of Add Output Plugin -->
<div modal="shouldBeOpen['output']" close="close()" options="modalOptions" id="addOutputPluginToProfile">

	<div class="modal-header">
		<h1>Ouput Plugins</h1>
	</div>

	<div class="modal-body">
        <ul data-role="listview">
            <!--<li><button onclick="alert('bo');" data-theme="e" data-icon="plus" data-mini="true" data-inline="true" >Add</button></li>-->
            <li ng-repeat="plugin in afterglowSetup.Setup.ConfiguredOutputPlugins" data-refresh-list>
            <a ng-click="updateProfile(plugin)" href="#mainContent" data-rel="back">{{plugin.Name + " - " + plugin.DisplayName}}</a></li>
        </ul>
	</div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
</div>

<div modal="shouldBeOpen['generalSettings']" close="close()" options="modalOptions" id="profileGeneralSettings" >
	<div class="modal-header">
		<h1>{{currentProfile.Name}} - Profile General Settings</h1>
	</div>

	<div class="modal-body">
        <div>
            <ul data-role="listview" data-inset="true">
                <li>
                    <label for="profileNameInput">
                        Name
                    </label>
                    <input id="profileNameInput" ng-model="currentProfile.Name" type="text">
                </li>
            
                <li>
                    <label for="profileDescription">
                        Description
                    </label>
                    <textarea id="profileDescription" ng-model="currentProfile.Description"  ></textarea>
            
                </li>
            
                <li>
                    <label for="profileFrameRateLimiter">
                        Frame Rate Limit
                    </label>
                    <input id="profileFrameRateLimiter" type="number"
                        ng-model="currentProfile.FrameRateLimiter" min="0" max="100"
                        data-highlight="false" data-theme="b">
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success save" ng-click="updateProfileGeneralSettings()">Save</button>
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
</div>