<accordion id="profiles">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="#" >TODO:Add Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-repeat="profile in afterglowSetup.Setup.Profiles" data-role="collapsible-set" data-theme="b" data-content-theme="d" data-refresh-list>
        <accordion-group heading="{{profile.Name}}">
            <accordion>
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li>
                                <a href="#" ng-click="showPluginSelect(profile, 'generalSettings')">General Settings</a>
                            </li>
                            <li>
                                <a href="#">TODO: Delete</a>
                            </li>
                            <li>
                                <a href="#">TODO: Export Profile Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <accordion-group heading="Light Setup">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li>
                                    <a href="#" ng-click="showPluginSelect(profile, 'lightSetup')">Change</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ol data-role="listview">
                        <li ng-repeat="plugin in profile.LightSetupPlugins" data-refresh-list>
                            <p>
                                <strong>{{plugin.Name + " - " + plugin.DisplayName}}</strong>
                                <small>{{plugin.Description}}</small>
                                <!--<a href="#" data-role="button">Edit</a>-->
                            </p>
                        </li>
                    </ol>
                </accordion-group>
                <accordion-group heading="Capture Plugins">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li>
                                    <a href="#" ng-click="showPluginSelect(profile, 'capture')">Change</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ol data-role="listview">
                        <li ng-repeat="plugin in profile.CapturePlugins" data-refresh-list>
                            <p>
                                <strong>{{plugin.Name + " - " + plugin.DisplayName}}</strong>
                                <small>{{plugin.Description}}</small>
                                <!--<a href="#" data-role="button">Edit</a>-->
                                <a class="btn btn-danger btn-small" href="#" ng-click="removePluginFromProfile(profile, 'postProcess', plugin)" >Remove</a>
                            </p>
                        </li>
                    </ol>
                </accordion-group>
                <accordion-group heading="Post Process Plugins">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li>
                                    <a href="#" ng-click="showPluginSelect(profile, 'postProcess')">Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ol data-role="listview">
                        <li ng-repeat="plugin in profile.PostProcessPlugins" data-refresh-list>
                            <p>
                                <strong>{{plugin.Name + " - " + plugin.DisplayName}}</strong>
                                <small>{{plugin.Description}}</small>
                                <!--<a href="#" data-role="button">Edit</a>-->
                                <a class="btn btn-danger btn-small" href="#" ng-click="removePluginFromProfile(profile, 'postProcess', plugin)" >Remove</a>
                            </p>
                        </li>
                    </ol>
                </accordion-group>
                <accordion-group heading="Output Plugins">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li>
                                    <a href="#" ng-click="showPluginSelect(profile, 'output')">Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ol data-role="listview">
                        <li ng-repeat="plugin in profile.OutputPlugins" data-refresh-list>
                            <p>
                                <strong>{{plugin.Name + " - " + plugin.DisplayName}}</strong>
                                <small>{{plugin.Description}}</small>
                                <!--<a href="#" data-role="button">Edit</a>-->
                                <a class="btn btn-danger btn-small" href="#" ng-click="removePluginFromProfile(profile, 'output', plugin)" >Remove</a>
                            </p>
                        </li>
                    </ol>
                </accordion-group>
            </accordion>
        </div>
    </div>
</accordion>
    
@Html.Partial("ProfilesPopupsView")

