
<div>
    <h1>Profile Settings</h1>
    <button type="button" class="btn btn-default">Export Plugin</button>

    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">Light Setup Plugins</div>
        <div class="panel-body">
            <p>Light Setup Plugins are used to configure the screen capture positions and corresponding lights</p>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    Basic Light Setup
                </div>
                <div class="list-group-item-text">
                    Basic Light Setup Plugin
                </div>
            </div>
        </div>
    </div>
</div>
