<div>
    <h1>Settings</h1>
    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputPort" class="col-lg-2 control-label">Port</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="inputPort" ng-model="settings.port">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="settings.runOnWindowsStartup">Run on Windows Startup
                </label>
            </div>
            <div class="form-group">
                <label for="inputLogLevel" class="col-lg-2 control-label">Log Level</label>
                <div class="col-lg-10">
                    <select class="form-control" id="inputLogLevel" ng-model="settings.logLevel"
                            ng-options="option.id as option.name for option in settings.logLevels"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">User Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUserName" ng-model="settings.userName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" ng-model="settings.password">
                </div>
            </div>
        </fieldset>
    </form>
</div>