
<!DOCTYPE HTML>
<html ng-app="afterglow">
    <head>
        <title>Afterglow</title>        
        @Html.Partial("CommonScripts")
    </head>
    <body>        
        <h1>@ViewBag.Title</h1>
        
        <div id="content">
            @RenderBody()
        </div>
    </body>
</html>
