
<!DOCTYPE HTML>
<html ng-app>
    <head>
        <title>Simple Layout</title>        
        @Html.Partial("CommonScripts")
       @*     <style>
	    body{
		    font: 100% "Trebuchet MS", sans-serif;
	    }
	    #dialog-link {
		    padding: .4em 1em .4em 20px;
		    text-decoration: none;
		    position: relative;
	    }
	    #dialog-link span.ui-icon {
		    margin: 0 5px 0 0;
		    position: absolute;
		    left: .2em;
		    top: 50%;
		    margin-top: -8px;
	    }
	    #icons {
		    margin: 0;
		    padding: 0;
	    }
	    #icons li {
		    margin: 2px;
		    position: relative;
		    padding: 4px 0;
		    cursor: pointer;
		    float: left;
		    list-style: none;
	    }
	    #icons span.ui-icon {
		    float: left;
		    margin: 0 4px;
	    }
	
        h1 {
            background-color: #036;
            color: #FFF;
            font-family: Tahoma;
            font-size: 26px;
            font-weight: normal;
            margin: 0;
            padding: 10px 0 3px 15px;
        }
        #content {
            padding: 15px;
        }
        #content-page {
            max-width: 1100px;
        }
        #sidebar {
            float:right;
        }
        a {
            color: #070;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        </style>*@
    </head>
    <body>        
        <h1>@ViewBag.Title</h1>
        
        <div id="content">
            @RenderBody()
        </div>
    </body>
</html>
